<div class="container-repositories" ng-repeat="repo in repos | orderBy: '-stargazers_count' | filter: orderName : true">

        <div class="container-repository">
                <p class="repository-title">{{repo.name}}</p>
                <div class="repository-info">
                        <p class="star-count">Estrelas: <span>{{repo.stargazers_count}}</span></p>
                        <p class="forks-count">Forks: <span>{{repo.forks_count}}</span></p>
                </div>
                <div class="container-commits with-border" ng-repeat="commit in commits">
                        <div class="commit-info">
                                <p class="commit-sha">Sha: {{commit.sha}}</p>
                                <p class="commit-message">Message: {{commit.commit.message}}</p>
                        </div>
                </div>
        </div>

</div>