<!DOCTYPE html>
<html lang="en" ng-app="vml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/App.css">
    <title>VML teste</title>
</head>

<body ng-controller="gitHubController">

    <main class="container">
        <div class="container-coluna">
            <div class="coluna esquerda">
                <a href="#!" ng-click="orderByName('')" class="repository-link">Todos os repositórios</a>
                <a href="#!{{repo.name}}" ng-click="carregaCommits(repo.name); orderByName(repo.name)" class="repository-link" ng-repeat="repo in repos">
                    {{repo.name}}
                </a>
            </div>
            <div class="coluna direita">

                <div ng-view></div>

            </div>
        </div>

    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.6.10/angular-route.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="js/App.js"></script>
    <script src="js/Controllers.js"></script>
</body>

</html>